{{ CodeSectionFileHeader | ToGoComment }}

package app

import (
	"code.cestus.io/libs/gotools/pkg/secrets"
)

type Secrets struct {
// region CODE_REGION(COMMON_SECRETS)
// endregion
}

//RegisterConfig registgers a secret with a flagset
func RegisterSecrets(flagset *secrets.SecretFlagSet) *Secrets {
	// region CODE_REGION(COMMON_REGISTER)
	secrets := Secrets{}
	// endregion

	return &secrets
}