!!filename .env
EMPTY_TOKEN=""

LOCAL_PLAYER_TOKEN=1234
LOCAL_ADMIN_TOKEN=1234
LOCAL_S2S_TOKEN=1234
LOCAL_PLAYERID=a24feafc-2b84-4346-a6c9-ac6948b4b20b

DEV_PLAYER_TOKEN=1234
DEV_ADMIN_TOKEN=1234
DEV_S2S_TOKEN=1234
DEV_PLAYERID=a24feafc-2b84-4346-a6c9-ac6948b4b20b

AP_PLAYER_TOKEN=1234
AP_ADMIN_TOKEN=1234
AP_S2S_TOKEN=1234
AP_PLAYERID=a24feafc-2b84-4346-a6c9-ac6948b4b20b

REVIEW_PLAYER_TOKEN=1234
REVIEW_ADMIN_TOKEN=1234
REVIEW_S2S_TOKEN=1234
REVIEW_PLAYERID=a24feafc-2b84-4346-a6c9-ac6948b4b20b

RELEASE_PLAYER_TOKEN=1234
RELEASE_ADMIN_TOKEN=1234
RELEASE_S2S_TOKEN=1234
RELEASE_PLAYERID=a24feafc-2b84-4346-a6c9-ac6948b4b20b



