!!if .ExtInfo.APIOverview.HasS2SAPI
!!delimiters <<< >>>
vars {
  baseUrl: https://s2s.geomagic.org/951638b3-e767-4d44-b5d9-7e23d190f3dd/a98149be-40fb-4391-88bc-23d6890f8d97/<<<.PluginComponent.Spec.ToolName | ToLower>>>/v1/s2s
  token: {{process.env.AP_S2S_TOKEN}}
}