!!if .ExtInfo.APIOverview.HasPublicAPI
!!delimiters <<< >>>
vars {
  baseUrl: https://public.geomagic.org/951638b3-e767-4d44-b5d9-7e23d190f3dd/ae22b5c3-d6c9-4bcb-9a55-e989b065e715/<<<.PluginComponent.Spec.ToolName | ToLower>>>/v1/public
  token: {{process.env.EMPTY_TOKEN}}
}