!!filename .env
{{.PluginComponent.Spec.ToolName | ToEnvVarName}}_CONFIG=../../.devcontainer/configs/config.toml
TRACING_DISABLED="true"
{{.PluginComponent.Spec.ToolName | ToEnvVarName}}_AUTHORIZER_DISABLED="false"